<div  style="display: flex; padding-left: 100px; color: brown; background-color: whitesmoke;">
  Welcome To H.
  Sign In
 
  <img src="./Images/flag.png" width="30px" alt="">
  <div style="padding-left: 946px;" >
    <a href="#" style="color: black;" ><i class="fa fa-search"></i>Search</a>
  </div>

</div>
<div style="text-align: center;">
<img src="/Images/H.png" alt="Logo" style="margin-left: 2px;" width="100" height="110" class="d-inline-block align-text-top">
<h5 style="color: goldenrod; display: inline; position: absolute; top: 97px;">●</h5>
</div>
<div class="menu-container" style="display: flex; justify-content: center;">
<ul class="my-menu">
<li class="my-menu-item"><a href="#">New Arrivals</a>
  <ul class="my-sub-menu">
    <li style="padding-right: 30px;"><img src="./Images/submenu_pic1.webp" alt=""></li>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Limited Edition Collection</a></li>
      <li><a href="#">Traditional Prints</a></li>
      <li><a href="#">Essentials</a></li>
      <li><a href="#">My Kurti</a></li>
    </div>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Women Festive Collection</a></li>
      <li><a href="#">Unstiched Collections</a></li>
      <li><a href="#">Stiched Collections</a></li>
      <li><a href="#">Teen Girls Collection</a></li>
      <li><a href="#">Kids Collections</a></li>
    </div>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Men Festive Collection</a></li>
      <li><a href="#">Unstiched</a></li>
      <li><a href="#">Stiched</a></li>
    </div>
    <li><img src="./Images/submenu_pic2.webp" alt=""></li>
    </ul>

</li>
<li class="my-menu-item"><a href="#">Cast & Crew</a>

  <ul class="my-sub-menu">
    <div>
      <li><a href="#" class="my-sub-menu-heading">Men</a></li>
      <li><a href="#">Kameez Shalwar</a></li>
      <li><a href="#">Sandals</a></li>
      <li><a href="#">Trouser</a></li>
    </div>
    <li><img src="./Images/cast.webp" alt=""></li>
    </ul>

</li>

<li class="my-menu-item"><a href="#">Women</a>
  <ul class="my-sub-menu">
    <li><img src="./Images/submenu_pic3.webp" alt=""></li>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Kurti</a></li>
      <li><a href="#">Unstiched</a></li>
      <li><a href="#">Formals</a></li>
      <li><a href="#">Stiched</a></li>
    </div>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Jwellery</a></li>
      <li><a href="#">Footwear</a></li>
    </div>
    </ul></li>
<li class="my-menu-item"><a href="#">Men</a>
  <ul class="my-sub-menu">
    <li><img src="./Images/submenu_pic4.webp" alt=""></li>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Kurta</a></li>
      <li><a href="#">Unstiched</a></li>
      <li><a href="#">Formals</a></li>
      <li><a href="#">Stiched</a></li>
    </div>
    <div>
      <li><a href="#" class="my-sub-menu-heading">Groom Collection</a></li>
      <li><a href="#">Sherwani</a></li>
      <li><a href="#">Prince Coat</a></li>
    </div>
    </ul></li>
<li class="my-menu-item"><a href="#">Fragrances</a>
  <ul class="my-sub-menu">
    <li><img src="./Images/perfume.jpg" width="300px" alt=""></li>
    <div>
      <li><a href="#" class="my-sub-menu-heading">For Men</a></li>
      <li><a href="#">Perfume</a></li>
      <li><a href="#">Attar</a></li>
      <li><a href="#">Beard Oil</a></li>
    </div>
    <div>
      <li><a href="#" class="my-sub-menu-heading">For Women</a></li>
      <li><a href="#">Perfume</a></li>
      <li><a href="#">Body Spary</a></li>
      <li><a href="#">Body Mist</a></li>
    </div>
    </ul></li>

</ul>

