body{
  background-color: cornsilk;
}

.front-img{
  width: 100%;
  transition: all linear 0.7s;
 }


.menu-container {
  position: relative;
}

.my-menu {
  list-style: none;
  display: flex;
  padding: 0;
}

.my-menu-item {
  position: relative;
  margin-right: 20px;
}

.my-sub-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0; 
  background-color: cornsilk;
  width: 800px;
  z-index: 1;  
   /* z index will let your sub menu to be over the rest of bottom content */
}

.my-menu-item:hover .my-sub-menu {
  display: flex;
}

.my-menu , .my-menu-item , .my-sub-menu , a{
  text-decoration: none;
}

.my-menu , .my-menu-item , .my-sub-menu , li{
  /* text-decoration: none; */
  list-style: none;
}


.my-sub-menu-heading{
  color: brown;
  font-weight: bold;
}


